# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg

# Virtual environment
.venv/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Antigravity / Agent
.agents/
.gemini/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Sounds
sounds

#PRD
PRD/

#License
customLICENSE